<!DOCTYPE html >
<html>
	<head>
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/static/css/index.css" type="text/css"/>

	</head>
	<body>
		<header></header>
		{{{ body }}}
		<footer></footer>
	</body>
</html>
