@import "bourbon";
@import "neat";

body { 
    background-color: #FFAAAA;
}

section.photos {
    @include outer-container;
    div.box {
        font-size: 0.78em;
		height: 600px;
		margin-bottom: 10px;
        @include span-columns(7);
        @include omega(4n);
    }
}
