html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background-color: #FFAAAA; }

section.photos {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  section.photos::after {
    clear: both;
    content: "";
    display: table; }
  section.photos div.box {
    font-size: 0.78em;
    height: 600px;
    margin-bottom: 10px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    section.photos div.box:last-child {
      margin-right: 0; }
    section.photos div.box:nth-child(4n) {
      margin-right: 0; }
    section.photos div.box:nth-child(4n+1) {
      clear: left; }
